/* Windy 0.4 Initial */

@import url('https://fonts.googleapis.com/css2?family=Poppins|Raleway:wght@100;200;300;400;500;600&display=swap');

body, html{
	height: 100%;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.bg{
	background-image: url("images/bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.header{
    top: 8%;
	left: 50%;
    position: absolute;
	transform: translate(-50%, -50%);
}

.search{
	position: absolute;
	top: 16%;
	left: 50%;
}

.search > form {
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

.search > form > div > input{
	float: left;
	height: 45px;
	width: 280px;
	border-radius: 13px 0 0 13px;
	padding-left: 25px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background: rgba(299, 299, 299, 0.4);
	color: rgb(0, 34, 230)
}

.search > form > div > input[type="text"]{
	font-size: 22px;
}

.search > form > div > input:focus{
	outline: none;
	border: none;
}

.search > form > div > input::placeholder{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: rgb(239, 239, 239);
}

.search > form > div > button{
	height: 47px;
	border: none;
	background: rgba(299, 299, 299, 0.4);
}

#subform{
	float: right;
	border-radius: 0 13px 13px 0;
}

.search > form > div > button:focus{
	outline: none;
	border: none;
}

.search > form > div > button > a{
	font-size: 21px;
	padding: 7px;
	color: rgb(236, 236, 236);
}

.search > form > div > button > a:hover{
	color: rgb(21, 56, 255);
	cursor: pointer;
}

.autocomplete{
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	z-index: 100;
	height: 100px;
	overflow: hidden;
	top: 100%;
	left: 0;
	right: 0;
	border-radius: 0 0 18px 18px;
}

.autocomplete-items div {
	font-size: 14px;
	padding: 2px;
	padding-left: 25px;
	cursor: pointer;
	background: rgba(299, 299, 299, 0.4);
	color: #ececec;
}

.autocomplete-items div:hover {
	background-color: #1135ff;
}

.autocomplete-active {
	background-color: #1135ff !important;
	color: #ffffff;
}

.container{
	z-index: 1;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.widget
{
	width: 400px;
	height: 200px;
	border-radius: 20px;
	background: rgba(299, 299, 299, 0.4);
}

.widget .left{
	position: absolute;
	left: 0;
	width: 200px;
}

.widget .right{
	position: absolute;
	right: 0;
	width: 200px;
	color: #fff;
	margin: 50px 0;
}

.icon{
	width: 75%;
	margin-bottom: -30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.weather-status{
	color: #fff;
	text-align: center;
	margin-top: 0;
}

.widget .right .city{
	font-size: 1em;
	text-align: center;
	margin: 0;
	text-shadow: 1px 1px 5px #707070;
}

.widget .right .degree{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	text-shadow: 1px 1px 5px #707070;
}

.widget .bottom{
	width: 100%;
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	color: #fff;
}

.widget .bottom div{
	margin: 5px 10px 5px 10px;
	text-align: center;
	line-height: 100%;
	font-size: 0.83em;
	text-shadow: 1px 1px 5px #707070;
}

.bottom div span{
	display: block;
}

h1{
    color: #fff;
	text-align: center;
	margin-top: 0;
    text-align: center;
    padding: 0 0 0 0;
}
.footer{
	top: 90%;
	left: 50%;
    color: #fff;
	text-align: center;
    bottom: 150px;
    position: absolute;
	line-height: 100%;
	font-size: 8px;
	text-shadow: 1px 1px 5px #707070;
	transform: translate(-50%, -50%);
}



.container2{
    
	top: 74%;
	left: 40.5%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.widget2{
	width: 125px;
	height: 160px;
	border-radius: 20px;
	background: rgba(299, 299, 299, 0.4);
}

.container3{
    
	top: 74%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.widget3{
	width: 125px;
	height: 160px;
	border-radius: 20px;
	background: rgba(299, 299, 299, 0.4);
}

.container4{
    
	top: 74%;
	left: 59.5%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.widget4{
	width: 125px;
	height: 160px;
	border-radius: 20px;
	background: rgba(299, 299, 299, 0.4);
}






.widget2 .mid{
    text-align: center;
    font-size: 26px;
	width: 100%;
	color: #fff;
}

.widget2 .mid div{
	text-align: center;
	font-size: 19px;
	text-shadow: 1px 1px 5px #707070;
}

.widget2 > .mid > h6{
	padding-top: 35px;
	margin-bottom: 10px;
}


.widget3 .mid1{
    text-align: center;
    font-size: 26px;
	width: 100%;
	color: #fff;
}

.widget3 .mid1 div{
	text-align: center;
	font-size: 19px;
	text-shadow: 1px 1px 5px #707070;
}

.widget3 > .mid1 > h6{
	padding-top: 35px;
	margin-bottom: 10px;
}

.widget4 .mid2{
    text-align: center;
    font-size: 26px;
	width: 100%;
	color: #fff;
}

.widget4 .mid2 div{
	text-align: center;
	font-size: 19px;
	text-shadow: 1px 1px 5px #707070;
}

.widget4 > .mid2 > h6{
	padding-top: 35px;
	margin-bottom: 10px;
}